
dist/
.goreleaser.yaml
bin*

# fuzzing artifacts
*.libfuzzer
*fuzz.a

# url_shortner stuff
/url_shortner*
.vscode
.idea

# Binaries for programs and plugins
.DS_STORE
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
